COCO_ROOT=/mnt/nvme/coco
OUTPUT_ROOT=/mnt/nvme/experiments/dn-bqr-coco
TORCH_CACHE=/mnt/nvme/cache/torch
GPU0_ID=0
GPU1_ID=1
NPROC_PER_NODE=2
METHOD=bqr
RUN_NAME=poc_10k_20e
EPOCHS=20
STOP_AFTER_EPOCH=10
BATCH_SIZE=2
ACCUMULATION_STEPS=4
TARGET_GLOBAL_BATCH_SIZE=16
EVAL_BATCH_SIZE=2
NUM_WORKERS=8
PRECISION=fp16
TRAIN_SIZE=10000
SUBSET_SEED=42
SEED=42
RESUME=auto
DIAGNOSTICS_EVERY=100
PYTORCH_IMAGE=pytorch/pytorch:2.1.2-cuda12.1-cudnn8-devel
TORCH_CUDA_ARCH_LIST=8.9
